.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1a1a1a;
    padding: 1.5rem;
    border-radius: 1rem;
    color: #ffffff;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  
    @media (max-width: 640px) {
      flex-direction: column;
    }
  }
  
  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  
    @media (max-width: 640px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  .roleSection {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
  }
  
  .title {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .tag {
    background-color: #2a2a2a;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    height: fit-content;
    font-size: 0.9rem;
  }
  